*{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(115, 66, 172);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.logotipo{
    width: 300px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
@media screen and (max-width: 1200px){
    .logotipo{
        width: 180px;
    }
    }
    @media screen and (max-width: 768px){
    .logotipo{
        width: 180px;
    }
    }